<h1> Cocktails List</h1>

<ul><% @cocktails.each do |cocktail| %>
<li><%= link_to cocktail.name, cocktail_path(cocktail) %>
<% if !cocktail.photo.blank? %>
  <%= cl_image_tag(cocktail.photo, width: 150, height: 150, crop: :thumb) %>
<% end %>
</li>
<% end %>
</ul>

<p><%= link_to "Create a new cocktail", new_cocktail_path %></p>


